name: Create Azure Resources

on:
  workflow_run:
    workflows: ["Build the project"]
    branch: [master]
    types:
      - completed

jobs:
  create-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: download artifact
        uses: dawidd6/action-download-artifact@v2.8.0
        with:
          workflow: build.yml
          name: "Build Artifact"

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_SECRET }}

      - name: run bash
        run: |
          pwd
          ls -alh $GITHUB_WORKSPACE
          pwd $GITHUB_WORKSPACE

      - name: Run deploy.sh
        uses: Azure/CLI@v1
        with:
          azcliversion: 2.6.0
          inlineScript: |
            chmod +x $GITHUB_WORKSPACE/azure-deploy/deploy.sh
            $GITHUB_WORKSPACE/azure-deploy/deploy.sh
