name: Create Azure Resources

on:
  workflow_run:
    workflows: ["Build the project"]
    branch: [master]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: dir
        shell: pwsh
