name: Build the project

on:
  push:
    branches: [master]

env:
  buildConfiguration: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: dotnet build with configuration ${{ env.buildConfiguration }}
        run: dotnet build --configuration ${{ env.buildConfiguration }}

      - name: dotnet publish
        run: dotnet publish --no-build --no-restore --configuration ${{ env.buildConfiguration }} --output projectoutput

      - name: zip the output
        run: |
          Compress-Archive -Path .\projectoutput\* -DestinationPath .\projectoutput.zip
        shell: pwsh
