name: Build the project

on:
  push:
    branches: [master]

env:
  buildConfiguration: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: dotnet build with configuration ${{ env.buildConfiguration }}
        run: dotnet build --configuration ${{ env.buildConfiguration }}

      - name: dotnet publish
        run: dotnet publish --no-build --no-restore --configuration ${{ env.buildConfiguration }} --output projectoutput

      - name: run 'ls -alh'
        run: ls -alh

      - name: zip output
        uses: thedoctor0/zip-release@master
        with:
          filename: projectoutput.zip 

      - name: make dir and move zip
        run: |
          mkdir publishdir
          mv projectoutput.zip zip

      - name: run 'ls -alh'
        run: ls -alh publishdir

      - name: publish .zip artifact
        uses: actions/download-artifact@v2
        with:
          path: publishdir